@*@model Portfolio_MVC.Models.Login*@
@model Portfolio_MVC.Models.LoginSignupViewModel


@{
    ViewBag.Title = "Login";
}
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Login_assets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />

    @*Favicons*@
    <link href="@Url.Content("~/Content/img/favicon.png")" rel="icon" />
    <link href="@Url.Content("~/Content/img/apple-touch-icon.png")" rel="apple-touch-icon" />

    @*<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>*@

</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "sign-in-form" }))
                {


                    <h2 class="title">Sign In</h2>

                    if (ViewBag.Error != null)
                    {
                        <div class="error-message">
                            @ViewBag.Error
                        </div>
                    }


                    <div class="input-field">
                        <i class="fas fa-user"></i>

                        @Html.TextBoxFor(m => m.Login.Email, new { placeholder = "Enter your Email", required = "required" })

                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        @Html.PasswordFor(m => m.Login.Password, new { placeholder = "Enter your Password", id = "passwordInput", required = "required" })
                        <span class="toggle-password" onclick="togglePassword()">
                            <i class="fas fa-eye" id="eyeIcon"></i>
                        </span>
                    </div>

                    <input type="submit" value="Login" class="btn solid" />



                }

                @using (Html.BeginForm("Signup", "Login", FormMethod.Post, new { @class = "sign-up-form" }))

                {
                    @Html.AntiForgeryToken()
                    <h2 class="title">Sign Up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"> </i>
                        @Html.TextBoxFor(m => m.Signup.Name, new { placeholder = "Enter your Name", required = "required" })

                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        @Html.TextBoxFor(m => m.Signup.Email, new { placeholder = "Enter your Email", required = "required" })

                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        @Html.PasswordFor(m => m.Signup.Password, new { placeholder = "Enter your Password", id = "passwordInput", required = "required" })

                        <span class="toggle-password" onclick="togglePassword()">
                            <i class="fas fa-eye" id="eyeIcon"></i>
                        </span>
                    </div>



                    <input type="submit" value="Sign Up" class="btn solid" />



                }
            </div>
        </div>
        <div class="panels-container">

            <div class="panel left-panel">
                <div class="content">
                    <h3>New here?</h3>
                    <p>Join our community and be part of something amazing. Together, we achieve more!.</p>
                    <button class="btn transparent" id="sign-up-btn">Sign Up</button>
                </div>
                <img src="~/Login_assets/log.svg" class="image" alt="">
            </div>

            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us?</h3>
                    <p>We're glad to have you with us! As a valued member of our community, your presence makes a real difference.</p>
                    <button class="btn transparent" id="sign-in-btn">Sign In</button>
                </div>
                <img src="~/Login_assets/register.svg" class="image" alt="">
            </div>
        </div>
    </div>


    <script src="~/Login_assets/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>

    @*🔹 Password view button*@
    <script>
        function togglePassword() {
            var password = document.getElementById("passwordInput");
            var eyeIcon = document.getElementById("eyeIcon");

            if (password.type === "password") {
                password.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                password.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
    </script>

</body>
</html>
